
.menubar{
    -fx-background-color: transparent;
    -fxopacy:0.5;
    -fx-border-width: 2.0 ;
}
.button1{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #FF6C10;
    -fx-background-color: #FF6C10;
}
.Button:hover{
    -fx-background-color: #FF6C10;
    -fx-font-size: 22px;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}
.button2:hover{
    -fx-background-color: #00EB6F;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.button3:hover{
    -fx-background-color: #FF6C10;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.button4:hover{
    -fx-background-color: #FFF600;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.button5:hover{
    -fx-background-color: #FFF94A;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.button6:hover{
    -fx-background-color: #F56CE1;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}


.button7:hover{
    -fx-background-color: #00F5EA;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.button8:hover{
    -fx-background-color: #004AAD;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.button9:hover{
    -fx-background-color: #67EEF4;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}


.table.view .colum-header,
.table-view .colum-header-background.filler{
    -fx-cell-siza: 20;
    -fx-background-color: #F2B01E;
}

.table-row-cell:selected{
    -fx-background-color: #5D9E3B
}